
* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #f6e8ea; */
    background-color: snow; 
    font-family: 'Cabin', sans-serif;
    color: #323232;
    font-size: 13pt;    /* Default font size  */
}

header {
    /* position: fixed;  */
    border-bottom: solid 3px #2b4570;
}


header, footer {
    /* background-color: #dbb1bc; */
    background-image: url(images/waffleConeBackground.jpg);
    color: #2b4570;
    min-width: 585px; 
    width:100%; 
}

header img {
    margin: 0 auto; 
    display: block;
}

header a, footer a{
    color: #2b4570;
    text-decoration: none; 
}

header a:hover, footer a:hover {
    color: #7180ac;
    border-bottom: 3px solid #7180ac;
}

nav {
    margin: 0 auto;
    text-align: center;

}

nav li {
    display: inline-block;
    font-size: 117%; 
    padding: 2px 20px;
}

footer {
    text-align: center; 
    padding: 12px; 
    margin-top: 15px; 
    border-top: solid 3px #2b4570;
}

#theContent {
    padding: 40px;
    line-height: 130%;
}

h1 {
    color: #2b4570;
    font-size: 200%; 
    margin: 10px 0; 
}
