
* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #f6e8ea; */
    background-color: snow; 
    font-family: 'Cabin', sans-serif;
    color: #323232;
    font-size: 13pt;    /* Default font size  */
}

/* header {
    border-bottom: 
*/


header, footer {
    background-color: #dbb1bc;
    color: #2b4570;
    min-width: 585px; 
}

header img {
    margin: 0 auto; 
    display: block;
}

header a, footer a {
    color: #2b4570;
    text-decoration: none; 
}

header a:hover, footer a:hover {
    color: #a8d0db;
    border-bottom: 3px solid #a8d0db
}

nav {
    margin: 0 auto;
    text-align: center;

}

nav li {
    display: inline-block;
    font-size: 117%; 
    margin: 2px 20px;
}


h1 {
    color: #2b4570;
    font-size: 200%; 
}
