
* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #f6e8ea; */
    background-color: snow; 
    font-family: 'Cabin', sans-serif;
    color: #323232;
    font-size: 13pt;    /* Default font size  */
}

header {
    /* position: fixed;  */
    border-bottom: solid 3px #2b4570;
}


header, footer {
    /* background-color: #dbb1bc; */
    background-image: url(images/waffleConeBackground.jpg);
    color: #2b4570;
    min-width: 585px; 
    width:100%; 
}

header img {
    margin: 0 auto; 
    display: block;
}

header a, footer a{
    color: #2b4570;
    text-decoration: none; 
}

header a:hover, footer a:hover {
    color: #7180ac;
    border-bottom: 3px solid #7180ac;
}

nav {
    margin: 0 auto;
    text-align: center;

}

nav li {
    display: inline-block;
    font-size: 117%; 
    padding: 2px 20px;
}

footer {
    text-align: center; 
    padding: 12px; 
    margin-top: 15px; 
    border-top: solid 3px #2b4570;
}

#theContent {
    padding: 40px 100px;
    line-height: 130%;
}

h1 {
    color: #a37374;
    font-size: 200%; 
    margin: 20px 0; 
}

p {
    margin: 15px 0;
}

#toTop {
    /* border: 2px solid #dbb1bc; */
    background-color: #a8d0db;
    padding: 4px; 
    border-radius: 10px; 
}

/* Begin Company Styles */

#imgIceCreamFlav {
    float: right;
    margin: 25px 0 0 40px; 
}

#imgRecycle {
    float: left;
    margin: 10px 20px 0 0;
}

/* End Company Styles */


/* Begin Location Styles */

/* #storeImg {
} */
button {
    background-color: #a37874;
    /* color: #2b4570; */
    color: snow;
    border-color: snow;
    font-size: 95%;
    padding: 3px 6px; 
    border-radius: 5px;
}

button:hover {
    background-color: #a8d0db;
}

a {
    color:#2b4570;
    text-decoration: none;
}

a:hover {
    color: #7180ac; 
}

table {
    border: 2px solid #7180ac;
    border-collapse: collapse; 
    width: 50%;     /* These next couple lines make the table responsive */
    min-width: 100px; 
    max-width: 400px; 
    margin: 40px 40px 0;
}

th{
    background-color: #7180ac;
    color: snow; 
    text-align: center;
}

.storeHours {
    text-align: center; 
    padding: 1px;
    background-color: snow;
    color: #2b4570;
    font-size: 110%;
}

tr, td {
    border: 1px solid #7180ac;
    color: #2b4570;
    padding: 3px; 
}
/* End Location Styles */